<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Please upload your file here</h1>
    <form action="/photo" method="post" enctype="multipart/form-data">
        <input type="file" name="photo">
        <input type="file" name="resume">
        <input type="file" name="sign">
        <button type="submit">Submit</button>
    </form>
</body>
</html>